@import '../../assets/common.scss';
.c-video {
  padding: $space2 0;
  &__content_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    background-color: $grey-light;
    border-radius: 5px;
    padding: $space2;
  }
  &__content {
    background-color: $white;
  }
  &__thumbnail {
    width: 100%;
    height: 400px;
    object-fit:cover;
  }
  &__playicon {
    font-size: $icon-font-size-medium;
    position: relative;
    bottom: 200px;
    left: 50%;
    color: $red;
    cursor: pointer;
    background-color: $grey-light;
    width: 50px !important;
    padding: $space1;
    border-radius: 5px;
  }
  &__close{
    margin: 0.5em;
    float: right;
    cursor: pointer;
    color: $red;
  }
  &__container{
    position: relative;
    width: 100%;
    height: 400px;
  }
  &__video{
    width: 100%;
    height: 100%;
  }
}
.hide {
  opacity: 0;
}
.show {
  opacity: 1;
  transition: opacity 0.5s linear;
}
