@import "../../assets//common.scss";
.c-modal {
  display: flex;
  padding: $space2 0;
  &__content_wrapper {
    position: absolute;
    //   top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    padding: $space2;
    background-color: $grey-light;
    border-radius: 5px;
    overflow: auto;
    height: 200px;
  }
  &__title {
    font-weight: bold;
    padding: $space2;
  }
  &__content {
    padding: $space2;
  }
  &__close{
    float: right;
    cursor: pointer;
    color: $red;
  }
}

.hide {
  opacity: 0;
}
.show {
  opacity: 1;
  transition: opacity 0.5s linear;
}
.left{
  justify-content: flex-start !important;
}
.right{
  justify-content: flex-end !important;
}
.center{
  justify-content: center !important;
}
.c-button{
  border-radius: 3px;
  box-shadow: 0 1px 5px rgb(63, 120, 243);
}
