@import "../../assets//common.scss";
.TileCard {
  font-size: $font-medium;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  width: 100%;
  @media (max-width: 576px) {
    flex-direction: column;
  }
  .children {
    padding: $space4;
    flex-direction: column;
    text-align: center;
    &:hover {
      box-shadow: 0 10px 10px $grey-light;
    }
    img {
      max-width:100% !important;
      height:auto !important;
      object-fit: contain;
    }
    .title {
      font-weight: 600;
      padding-top: $space4;
    }
  }
}
