@import '../../assets/common.scss';
.c-country {
    padding: $space2 0;  
    &__select {
      select {
        width: 100%;
        margin: 10px 0;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        font-size: $icon-font-size-xsmall;
        font-weight: 400;
        line-height: 1.5;
        border: 1px $grey-dark solid;
      }
    }
  }
  