@import '../../assets/common.scss';
.c-accordion {
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding: $space2 0;
  &__item {
    &__title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      cursor: pointer;
      background-color: hsla(0,13%,91%,.842);
      padding: $space3;
      font-size: 20px;
      font-weight: 500;
      &:hover {
        background-color: hsla(0,13%,91%,.842)-hover;
      }
    }
    &__content {
      background-color: #cececf;
      padding: $space3;
    }
  }
}
